<div id="archive">
  <% @activities.group_by(&:created_on).each do |day, activities| %>
    <section class="day">
      <header class="date"><%= l day, :format => :pretty %></header>
      <% activities.each do |activity| %>
        <article class="<%= css_class_for_activity(activity) %>" id="<%= dom_id(activity) %>">
          <span class="data-source">
            <%= activity.permalink ? link_to(image_tag_for_activity(activity), activity.permalink) : image_tag_for_activity(activity) %>
          </span>
          <span class="data-content">
            <%= activity.to_html.html_safe %>
          </span>
          <span class="data-time">
            <%= l activity.created_at, :format => :time_only %>
      
            <%# TODO Move this functionality to the activity detail page (once such a page exists). Deleting an activity is too rare of an event to warrant cluttering up the index view with all these delete icons. %>
            <%= link_to image_tag("icons/trash-icon-16.gif"), activity_path(activity), :confirm => 'Are you sure?', :method => :delete, :title => "Delete" %>
          </span>
        </article>
      <% end %>
    </section>
  <% end %>

  <%= paginate @activities %>
</div>

<aside id="sidebar">
  <div id="layers">
    <h2>Layers</h2>
    <form action="#" method="get">
      <ul>
        <% Collector.sources.each do |source| %>
          <% lowercase_source_name = source.downcase %>
          <li>
            <input type="checkbox" id="<%= lowercase_source_name %>-toggle" name="<%= lowercase_source_name %>" checked="checked"/>
            <label for="<%= lowercase_source_name %>-toggle">
              <%= source %>
              <%= image_tag("icons/#{lowercase_source_name}-icon-16.png", :alt => "#{lowercase_source_name} icon") %>
            </label>
          </li>
        <% end %>
      </ul>
    </form>
    <%= link_to "Configure collectors", collectors_path %>
  </div>
</aside>
