<% if @activities.empty? %>
  <p>Welcome to Stratify.  You're ready to set up your collectors and start gathering data.  <%= link_to "Let's do it.", collectors_path %></p>
<% else %>
  <ul class="days">
    <% @activities.group_by(&:created_on).each do |day, activities| %>
      <li>
        <p class="date"><%= l day, :format => :pretty %></p>
        <% activities.each do |activity| %>
          <article class="<%= css_class_for_activity(activity) %>" id="<%= dom_id(activity) %>">
            <span class="data-source">
              <%= activity.permalink ? link_to(image_tag_for_activity(activity), activity.permalink) : image_tag_for_activity(activity) %>
            </span>
            <span class="data-content">
              <%= render :partial => partial_for_activity(activity), :locals => { :activity => activity } %>
            </span>
            <span class="data-time">
              <%= l activity.created_at, :format => :time_only %>
            
              <%# TODO Move this functionality to the activity detail page (once such a page exists). Deleting an activity is too rare of an event to warrant cluttering up the index view with all these delete icons. %>
              <%= link_to image_tag("trash-icon-16.gif"), activity_path(activity), :confirm => 'Are you sure?', :method => :delete, :title => "Delete" %>
            </span>
          </article>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= paginate @activities %>
<% end %>

<%= content_for :sidebar do %>
  <aside id="sidebar">
    <div id="layers">
  	  <h2>Layers</h2>
  		<form action="#" method="get">
  		  <ul>
  		    <li>
    		    <input type="checkbox" id="gowalla-toggle" name="gowalla" checked="checked"/>
    		    <label for="gowalla-toggle">Gowalla<img src="images/gowalla-icon-16.png" alt="gowalla icon"></label>
          </li>
          <li>
    		    <input type="checkbox" id="instapaper-toggle" name="instapaper" checked="checked"/>
    		    <label for="instapaper-toggle">Instapaper<img src="images/instapaper-icon-16.png" alt="instapaper icon"></label>
          </li>
          <li>
    		    <input type="checkbox" id="itunes-toggle" name="itunes" checked="checked"/>
    		    <label for="itunes-toggle">iTunes<img src="images/itunes-icon-16.png" alt="itunes icon"></label>
          </li>
          <li>
    		    <input type="checkbox" id="rhapsody-toggle" name="rhapsody" checked="checked"/>
    		    <label for="rhapsody-toggle">Rhapsody<img src="images/rhapsody-icon-16.png" alt="rhapsody icon"></label>
          </li>
  		    <li>
    		    <input type="checkbox" id="twitter-toggle" name="twitter" checked="checked"/>
    		    <label for="twitter-toggle">Twitter<img src="images/twitter-icon-16.png" alt="twitter icon"></label>
  		    </li>
  		  </ul>
  		</form>
  		<%= link_to "Configure collectors", collectors_path %>
    </div>
  </aside>
<% end %>