<%= form_for(@collector, :as => :collector, :url => form_url_for(@collector), :html => { :class => "content-core" }) do |f| %>
  <%= f.hidden_field :source %>
  <% if @collector.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collector.errors.count, "error") %> prohibited this collector from being saved:</h2>

      <ul>
      <% @collector.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @collector.configuration_instructions %>
    <div class="instructions"><%= @collector.configuration_instructions.html_safe %></div>
  <% end %>

  <% @collector.configuration_fields.each do |field| %>
    <div class="field">
      <%= f.label field.name, field.label %>
      <% if field.type == :string %>
        <%= f.text_field field.name %>
      <% elsif field.type == :password %>
        <%= f.password_field field.name %>
      <% end %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
