<h1>Collectors</h1>

<% if @collectors.empty? %>
  <p>Welcome to Stratify.  You're ready to set up your collectors and start gathering data.</p>
  <p>It's quick and simple.  So, go ahead and give it a shot.</p>
<% else %>
  <table>
    <tr>
      <th>Source</th>
      <th>Configured For</th>
      <th>Last Ran</th>
    </tr>

    <% @collectors.each do |collector| %>
      <tr class="collector">
        <td class="collector-source"><%= collector.source %></td>
        <td class="collector-configuration"><%= collector.configuration_summary %></td>
        <td><%= collector.last_ran_at ? "#{time_ago_in_words(collector.last_ran_at)} ago" : "Never" %></td>
      </tr>
    <% end %>
  </table>
<% end  %>

<br />

<%= form_tag(new_collector_path, :method => :get) do %>
  <%= label_tag "collector[source]", 'Sources' %>
  <%= select_tag "collector[source]", options_for_select(Collector.sources) %>
  <%= submit_tag 'Add collector' %>
<% end %>
