<!DOCTYPE html>
<html>
<head>
  <title>Stratify</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <header id="header">
    <div class="centered-app">
      <h1><%= link_to "Stratify", root_path %></h1>
    </div>
  </header>
  <div id="content" class="centered-app">
    <ul id="flash">
      <% [:success, :notice, :error].each do |type| %>
        <% next unless flash[type].present? %>
        <li class="<%= type %>"><%= flash[type] %></li>
      <% end %>
    </ul>
    <%= yield %>
  </div>
</body>
</html>
